@import "node_modules/ol/ol.css";
@import 'node_modules/ol-layerswitcher/dist/ol-layerswitcher.css';
@import 'node_modules/ol-ext/dist/ol-ext.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'public/font/font.css';

html, body {
  margin: 0;
  height: 100%;
  font-family: dinregular, sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-control,
.ol-control.ol-bar.ol-left .ol-group .ol-control:first-child > button {
  border-radius: 0;
  padding: 0;
}

.menuBar.ol-control.ol-bar.ol-top.ol-left {
  top: .5em;
  background-color: #afafaf;
  width: 410px;
}
.ol-touch .ol-control.ol-bar.ol-top.ol-left, .ol-touch .ol-control.ol-bar.ol-top.ol-right {
  top: .5em;
}
.menuBar.ol-control.ol-bar.ol-left .ol-control,
.menuBar.ol-control.ol-bar.ol-right .ol-control {
  display: inline-block;
}
.menuBar.ol-control.ol-bar .ol-control.ol-toggle {
  margin: 5px;
}
.ol-zoom {
  left: auto;
  right: .5em;
}
.ol-control.ol-geobt {
  top: 5em;
  right: .5em;
  bottom: auto;
}
.ol-touch .ol-control.ol-geobt {
  bottom: auto;
}
.ol-permalink {
  right: .5em;
  top: 7em;
}
.ol-touch .ol-permalink {
  right: 0.5em;
}

/*********************************/
.logo button {
  height: auto;
  width: auto;
  background-color: transparent;
}
.logo button img {
  height: 50px;
}
.ol-touch .logo button img {
  height: 30px;
}

.ol-control.ol-toggle button {
  cursor: pointer;
}
.menuBar.ol-bar .ol-control button {
  background-color: transparent;
}
.menuBar.ol-control.ol-bar .ol-toggle.ol-active > button,
.menuBar.ol-control.ol-bar .ol-toggle.ol-active button:hover {
  background-color: #868484;
  color: #fff;
}
.ol-control button i {
  pointer-events: none;
}

.ol-control button {
  cursor: pointer;
}
.ol-group .ol-bar .ol-control button {
  background-color: transparent;
}
.menuBar.ol-bar .ol-control button:hover, 
.menuBar.ol-bar .ol-control button:focus {
  background-color: #868484;
}

.ol-control.ol-bar .ol-control.ol-button.twitter,
.ol-control.ol-bar .ol-control.ol-toggle.lang.ca {
  margin-left: 15px;
}

.ol-control.ol-bar.ol-left .ol-group .ol-control:last-child > button {
  border-radius: 0;
}

.ol-overlay.menu,
.ol-overlay.info { 
  width: 410px;
  background: #fff;
  color: #333;
  box-shadow: 0px 0px 5px #000;
  padding: 0.5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 5em;
  height: auto;
  min-height: 500px;
  bottom: unset;
}

.ol-overlay.menu {
  left: 0.5em;
  padding: 0;
}
.ol-overlay.info {
  left: auto;
  right: 0.5em;
  padding: 0;
}
.ol-touch .ol-overlay.info {
  left: .5em;
  right: auto;
}

.ol-overlay.menu .ol-closebox,
.ol-overlay.info .ol-closebox { 
  color: #fff;
  right: 5px;
  top: 5px;
}
.ol-overlay.menu .ol-closebox:before,
.ol-overlay.info .ol-closebox:before { 
  content: "\f00d";
  font-family:FontAwesome;
}
#menu { 
  padding-top: 1.5em;
  font-size: 0.9em;
}

.window h2 {
  color: #ffffff;
  background-color: #afafaf;
  margin: 0;
  padding: .3em;
  font-size: 14px;
  font-family: dinbold;
  text-transform: uppercase;
  position: relative;
}

.window .content {
  padding: 20px;
}

#windowDocs .label,
#windowApp .label {
  font-style: italic;
}

#windowFeature .label {
  text-decoration: underline;
}

.app-icon {
  vertical-align: top;
}

.tab-left {
  padding-left: 25px;
}

.layer-switcher {
  position: relative;
  top: auto;
  right: auto;
}

.layer-switcher ul {
  margin: 0;
}

#searchMsg {
  color: #ff0000;
}

/*********************************/
.measureBar.ol-control.ol-bar.ol-top.ol-right {
  top: 9em;
  right: .5em;
}

.measureBar.ol-control.ol-bar .ol-toggle.ol-active > button,
.ol-control.ol-bar .ol-toggle.ol-active button:hover {
  background-color: #868484;
}

.ol-control.copyBtn {
  top: 7em;
  right: .5em;
}

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.ol-tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}

.logo button {
  height: auto;
  width: auto;
  background-color: transparent;
}

@media only screen and (max-width: 420px) {
  .logo button {
    width: 50px;
    overflow: hidden;
  }

  .menuBar.ol-control.ol-bar.ol-top.ol-left,
  .ol-overlay.menu,
  .ol-overlay.info {
    max-width: 96%;
  }
}